/* body {
    font-family: 'gill sans', sans-serif;
} */

.page {
    text-align: center;  
    background-color: #ece5e5;
    position: absolute;
    height: 100%;
    width: 100%
}
.page-content {
    margin: auto;
    text-align: center;
    background-color: white;

    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    margin: 0;
}

.container {

}